# Byte-compiled / cache files
__pycache__/
*.pyc

# Virtual environment
myvenv/
env/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# MySQL dump backups
*.sql

#config
db_config.ini

main.py
